<html>
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/778c911bcf.js" crossorigin="anonymous"></script>
        <style>
    
            .col-md-2 {
                margin-bottom: 20px;
                margin-top: 20px;
            }
        </style>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% block head %}{% endblock %}
        <title>Yolov5_face_recognition</title>
    </head>
    <body>
        <div class="text-center mt-2 mb-4">
            <h1>  NITESH SHARMA  </h1>
            <p> My Name is Nitesh Sharma. I am an MCA student and Aspiring Data Sciencist. Build some end to end Project using my knowledge and skill of python and thier libraries.
                <div class="mb-2">
                    <strong>Salary Prediction web app</strong>
                    <li>Utilized machine learning algorithms (Logistic Regression) to build a predictive model for <strong> Salary Prediction </strong>. Implemented the model in Python and achieved an accuracy of <strong> 81% on test data. </strong></li>
                    <li>Train Many Classfication machine learning algorithms like Random forest classifier, Kneighbors classifier, etc on train data before using <strong> logistic Regression. </strong></li>
                    <li>use Flask for an API, Streamlit for user Interaction, containerised using docker, CI/CD using github action and <strong> Deployed on AWS Cloud. </strong></li>
                </div>

                <div class="mb-2">
                    <strong>Face Recognition</strong>
                    <li>Build an <strong> yolov5 Custom model </strong> on data of <strong>my own face</strong> and train model on it. For face Recognition.</li>
                    <li>create an web application using python and deployed it. </li>
                </div>

                <div class="mb-2">
                    <strong>Netflix Movie Recommendation  </strong>
                    <li>Utilized natural language processing (nltk) to build a <strong>Recommendation system of netflix movies and shows</strong>. recommendation similar type of movies and shows as per your input.</li>
                    <li>recommend movies and shows as per your gernes your provides.</li>
                </div>

                <div class="mb-2">
                    <strong>Data Analysis </strong>
                    <li>Conducted a data analysis of <strong>Ken jee youtube data </strong> to identify trends and patterns like </li>
                    <li>What types of video titles and thumbnailsdrive the most traffic. </li>
                    <li>Maximum no. of subs gain on a video.</li>
                    <li>Top 10 viewed videos.</li>
                    <li>Presented findings and created visualizations using Matplotlib.</li>
                </div>

            </p>
        </div>

    </body>
</html>